html, body {
    overflow-x: hidden;
    background-color: #002122;
}

#myChart {
    max-width: 100vw;
    max-height: 80vh;
}

.card {
    background-color: #002122;
    border-color: #002122;
    color: #fff;
}

.card-header {
    background-color: #002122;
    border-color: #002122;
    color: #fff;
}

.card-body {
    background-color: #002122;
    border-color: #002122;
    color: #fff;
}

.select2-selection__choice__display {
    color: #999999;
}
